<h2 class="section-title">{{ .titles.about }} the Forum</h2>

<div style="border: 1px solid #fddd52; padding: 20px 20px 0px; margin-top: 20px; margin-bottom: 20px; background-color: #f4f4f4; border-radius: 4px; ">
<p itemprop="description">The COVID-19 Data Forum brings together experts working to collect and curate data needed to drive scientific research and formulate effective public health responses to the pandemic.</p>
</div>

<p>The COVID-19 pandemic is challenging science and society to an unprecedented degree. Human lives
and the future of our society are at stake. Containing the virus and flattening the curve" of the
pandemic depend on mounting a strong, coordinated, scientifically-informed public health response
which in turn ultimately depends on having complete and accurate data from multiple data
sources.</p>
<p>The <strong>COVID-19 Data Forum</strong> is an ongoing series of multidisciplinary webinars and
online meetings for topic experts to discuss data-related aspects of the scientific response to the
pandemic.  The Forum is a joint project of the <a href="https://r-consortium.org">R Consortium</a>
and the <a href="https://datascience.stanford.edu/">Stanford Data Science Institute</a>. We host
recurring topical webinars that are free and open to the public.</p>

<p>The Forum places particular emphasis on being open to all relevant interested groups and
including a wide range of expertise. With respect to computing, the Forum considers all useful
tools, languages and environments. We hope that the COVID-19 Data Forum discussions can usefully
proceed through three stages of questions:</p>

<ul class="bulleted">
<li>Where are we now, with respect to resources and needs?</li>
<li>What immediate steps (e.g. in terms of sharing) would make improvements?</li>
<li>What potential projects for new tools, standards, or data models might be worth
undertaking?</li>
</ul>

<p>At all stages, there are many specific topics that need discussion. To sort them out, three kinds
of activities are useful categories: obtaining the data; using the data; and communicating about the
data.</p>

<p><strong>Obtaining Data.</strong> COVID-19 data challenges begin with just acquiring data of the
range and quality needed. A very wide range of data is needed, in three dimensions: geographical,
time, and domain. Depending on the purpose, data may be needed either at very specific local levels
or at the widest global level. Both are challenging --- finding reliable local sources and resolving
hugely variable international ones, for example. Particularly on the global (or even national)
scale, variable quality will often be a challenge. Timeliness of the data is clearly essential,
particularly as public health regulations and other societal responses change. But scientific models
and analysis may also need to have data over a long time span. The pandemic has touched our lives in
many ways: directly in our health but also in nearly all aspects of our economy and society. As the
world responds, data science will need to consider all these aspects, requiring data from the
microscopic level of the virus to the population data for epidemiology, social science, and
economics.</p>

<p><strong>Using Data.</strong> The response to the COVID-19 pandemic from the scientific community
continues to generate crucial data-based results. Epidemiologists, public health experts, data
scientists, and other researchers have produced a large number of predictive models, interactive
resource allocation applications, and disease tracking dashboards. Moving ahead, it will be
important to have easy, consistent access to the best data for all these efforts. Co-operation and
co-ordination among the teams involved can enhance the scope and help ensure that model results and
comparisons use consistent, well-defined data sources.</p>

<p><strong>Communicating Data.</strong> A key goal of the Data Forum is to improve communication
between decision-makers (in public health, government, and elsewhere) and the data science and
general research community. Many tools have been developed for visualizing and interacting with
data. It's important to understand how these can be used and enhanced for the decision-making
community. We look forward to participation in our meetings by interested members of this community.
Another important goal is to improve the information flow to the broader community, with emphasis on
giving insight and avoiding misdirection.</p>

<p>All events hosted by the Forum adhere to <a
href="https://datascience.stanford.edu/about/about-institute/code-of-conduct">Stanford Data
Science's Code of Conduct policy</a></p>.

